@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;

}
/*=== global Styling=====*/
li{list-style-type: none;}
a{text-decoration: none;}

header{
  background-color: orange;
}
nav{display: flex; align-items: center; justify-content: space-between; color: #fff; padding: 7px;}
#logo{margin-left: 15px; font-size: 22px;line-height: 22px; padding: 0}
ul#nav-list{display: flex; align-items: center; justify-content: space-around;margin: 0;}
ul#nav-list li{margin: 0 15px; font-size: 17px;}
ul#auth-link{display:none; position: absolute; background: rgb(205, 89, 225); padding: 5px; width: 110px; right: 0; text-align: center;border-radius: 3px;}
ul#auth-link:before{content:''; position: absolute; left: 50%; top:-7px; border-bottom: 7px solid #cc5ae1; border-left:7px solid transparent; border-right: 7px solid transparent;}
ul#auth-link li a{ color: #fff;}