@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
}
/*=== global Styling=====*/
li{list-style-type: none;}
a{text-decoration: none;}

/*header{background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);}*/
#root>div{display: flex; flex-direction: column;min-height: 100vh;justify-content: space-between;}
nav{display: flex; align-items: center; justify-content: space-between; color: #fff; padding: 7px;}
#logo{margin-left: 15px; font-size: 22px;line-height: 22px; padding: 0}
#logo a{color: #fff !important; text-decoration: none;}
#logo a:hover{color: #fff !important; text-decoration: none;}
#logo a h1{font-size: 32px;}
#logo a h1 b{color: #034071;}
ul#nav-list{display: flex; align-items: center; justify-content: space-around;margin: 0;}
ul#nav-list li{margin: 0 15px; font-size: 17px;}
ul#nav-list li a{color: #fff;}
ul#nav-list li a.active{color: #000000; font-weight: 600;border-bottom: 1px solid #FF9800;background-color: #fff;padding: 27px 16px 27px;}
ul#auth-link{display:none; position: absolute; background: rgb(205, 89, 225); padding: 5px; width: 110px; right: 0; text-align: center;border-radius: 3px;}
ul#auth-link:before{content:''; position: absolute; left: 50%; top:-7px; border-bottom: 7px solid #cc5ae1; border-left:7px solid transparent; border-right: 7px solid transparent;}
ul#auth-link li a{ color: #fff;}

/*==== Landing Page ===========*/

/*#landing-page{background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);}*/
#landing-page img{width: 100%; max-width: 700px;}


/*==== About ===========*/

#about .jumbotron{background-color: #3F51B5; color:#d7d7d7;}
/*==== Code Playground ===========*/

#code-val1, #code-val2{height: 300px; resize: none;overflow: scroll;}
#code-val1{border-top-right-radius: 0; border-bottom-right-radius: 0;}
#code-val2{border-top-left-radius: 0; border-bottom-left-radius: 0;}
.increment{cursor: pointer; text-align: center;font-weight: 900; font-size: 1.5rem;background-color: #ffc107;border-radius: 0;padding: 0;outline: none;}
.increment:focus{outline: none;box-shadow: none;}
.increment:first-child{border-top-right-radius: 3px; border-top-left-radius: 3px}
.increment:last-child{border-bottom-right-radius: 3px; border-bottom-left-radius: 3px}
#increment-wrapper{height: 350px; justify-content: center;}
#run-times-value{background: #fff;text-align: center;border-radius: 0;font-size: 20px;}


footer{/*background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);*/}

